header {
    background-color: #0C3042;
    display: flex;
    justify-content: flex-start;
    color: white;
    height: 45px;
    width: 100%;
}

.logo {
    height: 70%;
    width: 10%;
    padding: 2px;
}